In [9]:
from tweepy import OAuthHandler
from tweepy import StreamListener
from tweepy import Stream
import csv
import pandas

In [2]:
consumer_key = '---------------'
consumer_secret = '-----------------'
access_token = '------------------'
access_token_secret = '--------------------'

In [4]:
auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

In [5]:
class tweet_Listner(StreamListener):

    def on_status(self, status):       
        if (status.retweeted):
            return True
        
        User_id = status.id_str
        User_Name = status.user.screen_name
        User_Description = status.user.description
        Tweet = status.text
        loc = status.user.location        
        followers = status.user.followers_count    
        with open('Streamed_Tweets.csv', mode= 'a', newline='\n', encoding='utf-8' ) as f:
            writer = csv.writer(f)
            writer.writerow([User_id, User_Name, User_Description, Tweet, loc, followers])
        
    def on_error(self, status):
        print(status)

In [7]:
listner = tweet_Listner()
stream = Stream(auth=auth, listener=listner,)

In [ ]:
stream.filter(track=['CAA', 'CAA_NRCProtests', 'KaagazNaheeDikhayenge', 'RejectCAA_NRC_NPR', 'CAAProtests',
                    'CAA_NRC_NPR_वापस_लो', 'NRC_CAA_Protest', 'ShaheenBagh'])

In [11]:
df = pandas.read_csv('C:\\Users\\Sunny\\Work on python\\Streamed_Tweets.csv', delimiter=',', sep=',', )

In [12]:
df.columns = ['User_id', 'User_Name', 'User_Description', 'Tweet', 'loc', 'followers']

In [13]:
df.head()

,User_id,User_Name,User_Description,Tweet,loc,followers
0,1221025081784066049,pravinchandra,Software Professional Surat,RT @NagarJitendra: विश्व मे इस कदर कोई झुठ नही...,"India,Cameroon,Nigeria,Uganda,",2025
1,1221025081905860608,vishaldadhwal,NaN,RT @sudhirchaudhary: शाहीन बाग़ किसी के बाप का...,NaN,114
2,1221025082316746752,akmehta63,NaN,RT @manakgupta: “लोकतंत्र के दायरे में”\n“संवि...,NaN,328
3,1221025082950053893,Arunabh_ch,NaN,RT @Babu_Bhaiyaa: PM @NarendraModi &amp; @Amit...,NaN,182
4,1221025083512119296,risky2210,HINDU NATIONALIST. Mahakal ka Bhakt. Jai Bhole...,RT @ModiBharosa: आग उगलता आस्तीन का सांप \n\n#...,Haryana,339